doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="/css/board.css")
		title HexFive
	body
		.header
			.navigation
				a.active(href='/') Home
				a(href='/board') Board
		block contents
		bf
		hr
	footer
		p Copyright &copy; 2018 HexFive